<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/404.css">
    <title>404</title>
</head>
<body>
    <div class="background">
    </div>
    <div class="message">
        <h1>404</h1>
        <h2>There's nothing here.</h2>
        <h3>Find what you're looking for with our GitHub.</h3>
        <a class="main__button" href="https://github.com/dlemmer">FIND OUT</a>
    </div>
</body>
</html>