* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 10px;
    padding: 0;
}

.container_ {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__content {
    background-color: #000;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: aliceblue;
    font-size: 16px;
    line-height: 29px;
    border: 2px solid transparent;
    padding: 0px 13px;
}

.menu li+li {
    padding-left: 10px;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
}

.menu a:hover {
    border-color: aliceblue;
}


.main__bg {
    position: relative;
    background-image: url(..//images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 745px;
}

.main__bg_inner {
    position: absolute;
    display: flexbox;
    flex-direction: column;
}

.main__title,
.main__text,
.main__button {
    color: aliceblue;
    text-align: center;
}

.main__title {
    padding-top: 78px;
    padding-bottom: 0px;
    font-size: 177px;
    font-weight: 900;
    max-height: 311px;

    transform: translate(0px, 16px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.main__title {
    transform: translate(0px 0px);
    opacity: 1;
    z-index: 999999;
}

.main__text {
    padding-top: 10px;
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 30px;
}

.line {
    margin: auto;
    width: 200px;
    border-top: 3px groove;
    align-items: center;
    color: aliceblue;
}

.main__button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, rgb(237, 216, 177) 0%, rgb(216, 146, 13), rgb(237, 205, 148) 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.main__button:hover {
    background-position: right center;
    ;
    color: #000;
    font-weight: 500;
}

.button {
    text-align: center;
}

#adavntages {
    padding-top: 30px;
    min-height: 525px;
}

.stripe {
    width: 50px;
    border-top: 2px groove;
    align-items: center;
    color: rgb(216, 146, 13);
    margin: auto;
}

#col_title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}

.img_block_icon {
    max-height: 96px;
    margin-bottom: 20px;
}

/* IMG HOVER */

.img_element {
    position: relative;
    width: 50%;
}

.text a {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.img_element:hover .overlay {
    opacity: 0.89;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(240, 95, 64);
}


#row_title {
    margin: auto;
}

.info_header {
    margin-top: 100px;
    min-height: 182px;
    background: black;
}

.img_block {
    background: #000;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

#info_title {
    position: relative;
    color: aliceblue;
    padding-top: 50px;
}

#info_title h3 {
    font-size: 30px;
}

#info_title p {
    font-weight: 300;
    font-size: 17px;
}

#try_container {
    min-height: 290px;
    background-color: white;
}

.try_tittle {
    padding-top: 75px;
    margin-bottom: 10px;
}

.try_text {
    color: #000;
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 17px;
}

#try_button {
    margin-top: 30px;
}

.footer_inner {
    min-height: 100px;
}

.footer_text {
    padding-top: 40px;
    font-weight: 300;
}

#resourses_link {
    padding-top: 50px;
    font-weight: 500;
    font-size: 30px;
}

#resourses_name {
    font-size: 18px;
    opacity: 0.5;
    font-weight: 400;
}

/* стиль для анимации js */

.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99999;
}

.services__item {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.services__item.animation-class {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.1s ease-in-out, transform 0.3s ease-in-out;
}

.services__item.animation-class:nth-child(2) {
    transition-delay: 0.2s;
}

.services__item.animation-class:nth-child(3) {
    transition-delay: 0.4s;
}

.services__item.animation-class:nth-child(4) {
    transition-delay: 0.6s;
}

/* REGISTRATION FORM */
.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 550px;
    padding: 20px;
    width: 320px;
    position: fixed;
    left: 1170px;
    top: 85;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.show-form {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    z-index: 999999;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: rgb(144, 144, 144);
    margin: 10px;
}

.close-button:hover {
    background-color: #eee
}

.form_title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 20px;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}


.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.send_button {
    background-color: rgb(240, 95, 64);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    height: 50px;
    margin-top: 25px;
    text-align: center;
    width: 100%;
}

.send_button:active {
    background-color: rgb(192, 77, 52);
}

#firstname,
#lastname,
#email {
    font-size: 15px;
    font-weight: 300;
    opacity: 0.6;
}

.data_agree {
    margin-top: 10px;
}

#data_name {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #eee;
    margin-top: 10px;
}

